fastapi==0.115.12
uvicorn==0.34.2
transformers==4.51.3
torch
pydantic==2.11.3
python-multipart==0.0.20
PyYAML==6.0.2
numpy==2.2.5
jax==0.6.0
jaxlib==0.6.0
faiss-cpu==1.10.0
h5py==3.13.0
pandas==2.2.3
tqdm==4.67.1
scikit-learn==1.6.1
sentence-transformers==4.1.0
accelerate==1.6.0
datasets==3.5.0
